@charset "EUC-KR";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100vh;
  background-color: #141415;
}
li a{
  text-decoration: none;
  color: white;
}
span.blue{
  color: rgb(65, 134, 323);
}

.text span.taiping{
  color: rgba(255, 255, 255, .1);
}


/* #region main 1 */
.con{
  background-size: 90% 90%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

.con .header{
  position: fixed;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  z-index: 1000;
}
.con h3{
  color: white;
  font-size: 2.4vw;
}

.con .nav ul{
  list-style: none;
  display: flex;
  width: 600px;
  justify-content: space-around;
  font-size: 16px;
}

.con .nav ul button{
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

.con .text{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 30%;
  left: 10%;
}

.con .text p:nth-child(1){
color: white;
font-size: 1.4vw;
}
.con .text p:nth-child(2){
color: white;
font-size: 3vw;
font-weight: 700;
}
.con .text p:nth-child(3){
  position: absolute;
  height: 70%;
  left: 34%;
  bottom: 0;
  color: white;
  font-size: 3vw;
  font-weight: 700;
  border-right: 3px solid #fff;
  overflow: hidden;
  filter: drop-shadow(0 0 15px #fff)
  drop-shadow(0 0 25px #fff);
  animation: animate 3s linear infinite;
}
@keyframes animate {
  0%, 10%, 100%
  {
    width: 0;
  }
  70%,90%
  {
    width: 69%;
  }
}


 /* #endregion */

/* #region main 2 */
.box{
  position: relative;
  transform-style: preserve-3d;
  width: 100%;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.234);
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box .text h3{
  display: flex;
  justify-content: center;
  color:#fff;
  margin: 10px;
}
.box .box-item{
  perspective: 500px;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box .box-item .item{
  position: absolute;
  width: 250px;
  height: 250px;
  background-color: rgb(42,43,50);
  transition: .5s;
  transform-style: preserve-3d;
  transform-origin: bottom;
  user-select: none;
  box-shadow: 25px 25px 100px rgba(0, 0, 0, .2);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding-top: 20px;
}
.box .box-item .item > div{
  width: 120px;
  height: 120px;
  background-size: cover;
  background-position: center;
  margin: 10px;
}
.box .item:nth-child(1){
  transform: translate3d(-250px,0,0) scale(.8) rotateY(25deg);
  z-index: 1;
}
.box .item:nth-child(2){
  transform: translate3d(-250px,0,0) scale(.8) rotateY(25deg);
  z-index: 2;
}
.box .item:nth-child(3){
  transform: translate3d(-150px,0,0) scale(.9) rotateY(15deg);
  z-index: 3;
}
.box .item:nth-child(4){
  transform: translate3d(0px,0,0) scale(1) rotateY(0deg);
  z-index: 4;
}
.box .item:nth-child(5){
  transform: translate3d(150px,0,0) scale(.9) rotateY(-15deg);
  z-index: 3;
}
.box .item:nth-child(6){
  transform: translate3d(250px,0,0) scale(.8) rotateY(-25deg);
  z-index: 2;
}
.box .item:nth-child(7){
  transform: translate3d(250px,0,0) scale(.8) rotateY(-25deg);
  z-index: -1;
}

.box .buttons{
  position: absolute;
  bottom: 50px;
  display: flex;
  gap: 10px;
}
.box .buttons span{
  position: relative;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .5;
}
.buttons span:hover{
  opacity: 1;
}
.buttons span::before{
  content: '';
  position: absolute;
  left: 20px;
  width: 10px;
  height: 10px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  rotate: -45deg;
}
.buttons span:nth-child(2):before{
  content: '';
  position: absolute;
  left: initial;
  right: 20px;
  width: 10px;
  height: 10px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  rotate: 135deg;
}


/* #endregion */

/* #region main 3 */
.leg{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #141415;
  overflow: hidden;
}

.leg .text{
  position: absolute;
  left: 4%;
  top: 30%;
  color: white;
}
.leg .text .qnaContent{
  margin-bottom: 30px;
}
.leg .text .mainContent{
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 3vw;
}

.leg .languIntro{
  position: absolute;
  top: 50%;
  right: 40%;
  animation: animateColor 7.2s linear infinite;
}

@keyframes animateColor{
  0%
  {
    filter: hue-rotate(0deg);
  }
  100%
  {
    filter: hue-rotate(360deg);
  }
}

.leg .languIntro span {
  position: absolute;
  transform-origin: 13vw;
  transform:rotate(calc(var(--i) * 30deg));
  filter:  drop-shadow(0 0 5px #3cc2ff)
  drop-shadow(0 0 15px #3cc2ff) 
  drop-shadow(0 0 30px #3cc2ff);
}
.leg .languIntro span i {
  position: relative;
  color: #3cc2ff;
  animation: rotate-moon 2.4s linear infinite;
  animation-delay: calc(var(--i) * -0.2s);
}

@keyframes rotate-moon{
  0%
  {
    transform: rotate(0deg) scale(0);
  }
  50%
  {
    transform: rotate(180deg) scale(3);
  }
  100%
  {
    transform: rotate(360deg) scale(0);
  }
}
 /* #endregion */

/* #region login */
.bulr{
  background-color: rgba(0, 0, 0, 0.381);
  backdrop-filter: blur(8px);
  z-index: 1001;
}
.bulbackgro{
  position: relative;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  position: fixed;
  justify-content: center;
  align-items: center;
  display: none;
}

.bulbackgro .login,
.bulbackgro > .join{
  position: absolute;
  width: 400px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 60px rgba(0, 0, 0, .5);
  border: 1px solid rgba(255, 255, 255, .1);
  border-radius: 10px;
  padding: 40px;
  color: #fff;
  transition: transform .9s;
  backface-visibility: hidden;
}

.bulbackgro h2{
  margin-bottom: 20px;
  border-bottom: 3px solid;
  height: 40px;
  width: 70px;
}
.bulbackgro .join h2{
  width: 93px;
}

.bulbackgro .login form,
.bulbackgro .join form{

  display: flex;
  flex-direction: column;
}

.bulbackgro .login form .logininp,
.bulbackgro .join form .logininp{
  height: 45px;
  margin-bottom: 20px;
  border-radius: 20px;
  border: none;
  padding-left: 15px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.159);
  border: 1px solid rgba(255, 255, 255, .1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
  font-size: 14px;
  color: #fff;
}
.bulbackgro .login form .logininp::placeholder,
.bulbackgro .join form .logininp::placeholder{
  color: #ffffff5e;
}

.bulbackgro .login form .loginsub,
.bulbackgro .join form .loginsub{
  height: 40px;
  width: 90px;
  border-radius: 30px;
  border: none;
  margin-bottom: 30px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  color: #444;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
}

.bulbackgro .login p{
  margin-bottom: 10px;
  font-size: 13px;
}

.bulbackgro .login p a{
  color: #fff;
  margin-left: 10px;
}
.bulbackgro .login p .sign_up{
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 13px;
  margin-left: 10px;
  text-decoration: underline;
  cursor: pointer;
}